package components

templ Breadcrumb(currentPage string) {
    <div>
    if currentPage == "Home" {
        <br>
    } else {
        <div class="cdc-breadcrumb">
            <div class="cdc-breadcrumb__content cdc-page-offset">
                <a href="/">PHIN VADS Home</a> <img src="/assets/img/usa-icons/chevron_right.svg" /> {currentPage}
            </div>
        </div>
    }
    </div>
}
