package components

templ Home() {
	@Base("Home") {
		<h1>PHIN VADS Home</h1>
		@SearchBar()
		<h2>Hot Topics</h2>
		<div 
			hx-trigger="load"
			hx-get="/load-hot-topics"
			class="usa-accordion usa-accordion--multiselectable" 
			data-allow-multiple
		>
		</div>
		<div class="grid-row">
			<br><section><br><br><br><br></section></br>
		</div>
	}
}
